<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="view" content="width=width-device, initial-scale=1.0">
<title>Website Designe with node.js</title>
<meta name="description" content="My website created by express">
</head>
<body>
<main>
<h1>My website with node.js</h1>
</main>
</body>
</html>